// colors
$light-grey: #dfdfdf;
$dark-grey: #2F2D2E;
$green: #99c24D;
$charcoal: #2e4057;
$blue: #048BA8;
$orange: #f18F01;

body {
    background-color:$charcoal;
    font-family:'Fira Mono', monospace;
    color:$light-grey;
    font-size:14px;
    .wrapper {
        max-width:720px;
        margin:0 auto;
        a {
            color:#50d8d7;
            &:visited{
                color:#50d8d7;
            }
        }
        header {
            img {
                height:64px;
                width:64px;
                border-radius:50%;
                vertical-align:middle
            }
            p {
                vertical-align:middle;
            }
        }
    }
    .indent {
        margin-left:32px;
    }
    .string {
        color: #E6DB74;
    }
    .keyword {
        color: #F92672;
    }
}
