body {
  background-color: #262624;
  font-family: 'Fira Mono', monospace;
  color: #dfdfdf;
  font-size: 14px; }
  body .wrapper {
    max-width: 720px;
    margin: 0 auto; }
    body .wrapper a {
      color: #50d8d7; }
      body .wrapper a:visited {
        color: #50d8d7; }
    body .wrapper header img {
      height: 64px;
      width: 64px;
      border-radius: 50%;
      vertical-align: middle; }
    body .wrapper header p {
      vertical-align: middle; }
  body .indent {
    margin-left: 32px; }
  body .string {
    color: #E6DB74; }
  body .keyword {
    color: #F92672; }
  body .bracket {
    color: #A6E22E; }
